.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
    box-shadow: none;
    background-color: #FFF3E2;
    padding: 3px;
    margin: 0px !important;
    height: 100vh;
}

.privacy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
    box-shadow: none;
    background-color: #FFF3E2;
    padding: 3px;
    margin: 0px;
}

.stepper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
    box-shadow: none;
    background-color: #FFF3E2;
    padding-bottom: 50px;
    margin: 0px;
}


.bi-image {
    margin: auto;
}

.privacy-image{
    margin-left: auto;
}

.button {
    align-items: center;
    justify-content: center;
}

.blue-text {
    color: blue;
}

